.course-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(4, 28, 50);
  background: radial-gradient(
    circle,
    rgba(4, 28, 50, 1) 0%,
    rgba(18, 18, 18, 1) 64%
  );
}

.img-bg-content {
  flex: 1;
  display: flex;
  width: 1000px;
  height: 1100px;
  border: 0.3px solid white;
  border-radius: 100%;
  max-width: 1000px;
  padding: 11rem auto;
  user-select: none;
}

.img-bg-content img {
  display: cover;
  user-select: none;
  height: 1100px;
  width: 1000px;
  object-fit: contain;
}

.course-coming-heading {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 20rem;
  margin-bottom: 50px;
}

.course-coming-heading h1 {
  color: #fff;
  font-size: 60px;
  line-height: 45px;
  font-weight: 700;
  font-family: var(--font-family-text);
}

.course-coming-heading p {
  margin: 0 12rem;
  color: #fdeff4;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-family);

  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .course-coming-heading h1 {
    color: #fff;
    font-size: 48px;
    line-height: 45px;
    font-weight: 700;
    font-family: var(--font-family-text);
  }
  .course-coming-heading {
    padding: 2rem 14rem;
  }
  .course-coming-heading p {
    padding-top: 12px;
    font-size: 13px;
    margin: 0 0;
  }
}

.explain-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-bottom: 100px;
  gap: 15px 25px;
}
